/* Responsive cho tablet */
@media only screen and (max-width: 1024px) and (min-width: 739px) {
    /* Chỉnh lại chiều cao background */
    .header {
        min-height: 55vh !important;
    }
    /* CSS cho nav */ 
    /* Huỷ navbar cũ */
    .navbar > .nav-info, .navbar > .nav-menu {
        display: none;
    }
    /* Hiển thị lại nút menu */
    .menu-btn {
        display: block !important;
    }
    /* Hiển thị thanh search */
    .search {
        margin: 1rem 0;
    }
    
    .drop-menu {
        position: absolute;
        right: 2rem;
        top: 5rem;
        width: 240px;
        list-style-type: none;
        background-color: rgba(255,255,255,.1);
        backdrop-filter: blur(15px);
        text-align: center;
        padding: 1rem;
        border-radius: 0.75rem;
        border: 1px solid rgba(255,255,255,.3);

    }
    .drop-menu li {
        padding: 0.6rem;
    }
    .drop-menu ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
    }

    /* CSS lại cho header */
    section.header-container {
        padding: 5rem 1rem !important;
    }
    section.header-container > h4 {
        font-size: 1.5rem !important;
    }
    section.header-container > h1 {
        font-size: 4rem !important;
        line-height: 5rem !important;
    }
    /* CSS lại cho điểm đến */
    .suggest-item {
        width: 50% !important;
    }
    /* CSS lại cho phần ưu đãi */
    .deal-item {
        min-width: 33.33% !important;
    }
    /* CSS lại cho phần câu hỏi */
    .question-content {
        padding: 1rem !important;
    }
    /* CSS lại cho main benefit */
    .benefit-container {
        flex-direction: column;
    }
    /* CSS lại cho mục đánh giá */
    .rate  {
        height: 70vh !important;
    }
    /* CSS lại phần footer */
    .footer-contact > ul {
        width: 40% !important;
    }
}

/* Responsive cho mobile */
@media screen and (max-widtH: 739px) {
    /* Chỉnh lại chiều cao background */
    .header {
        min-height: 10vh !important;
    }
     /* CSS cho nav */ 
    /* Huỷ navbar cũ */
    .navbar > .nav-info, .navbar > .nav-menu {
        display: none;
    }
    /* Hiển thị lại nút menu */
    .menu-btn {
        display: block !important;
    }
    /* Hiển thị thanh search */
    .search {
        width: 90% !important;
        margin: auto;
    }
    
    .drop-menu {
        position: absolute;
        right: 5%;
        top: 5rem;
        width: 90%;
        list-style-type: none;
        background-color: rgba(255,255,255,.1);
        backdrop-filter: blur(15px);
        text-align: center;
        padding: 1rem;
        border-radius: 0.75rem;
        border: 1px solid rgba(255,255,255,.3);
    }
    .drop-menu li {
        padding: 0.6rem;
    }
    .drop-menu ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
    }
    
    /* CSS lại cho header */
    section.header-container {
        padding: 3rem 1rem !important;
    }
    section.header-container > h4 {
        font-size: 1rem !important;
        margin-bottom: 1rem !important;
    }
    section.header-container > h1 {
        font-size: 3rem !important;
        line-height: 4rem !important;
    }
    section.header-container > p {
        font-size: .875rem;
    }
    /* CSS lại cho điểm đến */
    .suggest-item {
        width: 100% !important;
    }
    /* CSS lại cho phần ưu đãi */
    .deal-item {
        min-width: 50% !important;
    }
    .benefit-container {
        flex-direction: column;
    }
    .benefit-content {
        width: 96% !important;
    }
    /* CSS lại cho mục câu hỏi */
    .question {
        width: 95% !important;
    }

    .question-contents > div {
        width: 96% !important;
    }

    .question-content {
        padding: 1rem !important;
    }

    /* CSS lại cho mục đánh giá */
    .rate  {
        height: 90vh !important;
    }

    .rate-content {
        min-width: 80% !important;
        margin: 0 10% !important;
        padding: 2rem !important;
    }
    .rate-content p {
        font-size: 0.75rem !important;
    }
    /* CSS lại phần footer */
    .footer-contact > ul {
        width: 70% !important;
    }
    .footer-list {
        flex-direction: column;
    }
    .footer-item {
        padding: 1rem;
    }
    .footer-discription {
        padding: 1rem 3rem !important;
    }
    .footer-copyright {
        font-size: 0.85rem !important;
    }
}