/* Responsive cho tablet */
@media only screen and (max-width: 1023px) and (min-width: 740px) {
    /* Chỉnh lại chiều cao background */
    .header {
        min-height: 55vh !important;
    }

    /* CSS lại cho header */
    section.header-container {
        padding: 5rem 1rem !important;
        flex-direction: column;
    }
    section.header-container > h4 {
        font-size: 1.5rem !important;
    }
    section.header-container > h1 {
        font-size: 4rem !important;
        line-height: 5rem !important;
    }

    .plane {
        display: none;
    }
    /* CSS lại cho điểm đến */
    .suggest-item {
        width: 50% !important;
    }
    /* CSS lại cho phần ưu đãi */
    .deal-item {
        min-width: 33.33% !important;
    }
    /* CSS lại cho phần câu hỏi */
    .question-content {
        padding: 1rem !important;
    }
    /* CSS lại cho main benefit */
    .benefit-container {
        flex-direction: column;
    }
    /* CSS lại cho mục đánh giá */
    .rate  {
        height: 105vh !important;
    }
}

/* Responsive cho mobile */
@media screen and (max-widtH: 739px) {
    /* Chỉnh lại chiều cao background */
    .header {
        min-height: 10vh !important;
    }
    /* CSS lại cho header */
    section.header-container {
        padding: 3rem 1rem !important;
        flex-direction: column;
    }
    section.header-container > h4 {
        font-size: 1rem !important;
        margin-bottom: 1rem !important;
    }
    section.header-container h1 {
        font-size: 3rem !important;
        line-height: 4rem !important;
    }
    section.header-container p {
        font-size: .875rem;
    }
    .plane {
        display: none;
    }
    /* CSS lại cho điểm đến */
    .suggest-item {
        width: 100% !important;
    }
    /* CSS lại cho phần ưu đãi */
    .deal-item {
        min-width: 50% !important;
    }
    .benefit-container {
        flex-direction: column;
    }
    .benefit-content {
        width: 96% !important;
    }
    /* CSS lại cho mục câu hỏi */
    .question {
        width: 95% !important;
    }

    .question-contents > div {
        width: 96% !important;
    }

    .question-content {
        padding: 1rem !important;
    }

    /* CSS lại cho mục đánh giá */
    .rate  {
        height: 90vh !important;
    }

    .rate-content {
        min-width: 80% !important;
        margin: 0 10% !important;
        padding: 2rem !important;
    }
    .rate-content p {
        font-size: 0.75rem !important;
    }
    .slide-buttons {
        padding: 1rem !important;
    }
}